<%- include ('../partials/header.ejs'); %>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2><%= title %></h2><br>
            <h2><%= description %></h2>
        </div>
        <div class="col-6">
            <form class="form" action"/conference/add-conference" method="POST" role="form">
                <div class="form-group">
                    <label for="titel">Titel</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="descriptie">Descriptie</label>
                    <input type="text" name="description" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
    <a href="/conference">Ga terug naar alle conferences</a>
</div>


<%- include ('../partials/footer.ejs'); %>