<%- include ('../partials/header.ejs'); %>

<div class="container">
    <div class="row">
        <form class="form" action"/edit/:conferenceId" method="POST" role="form">
            <input type="hidden" name="id" value="<%= conference.id %>">
            <div class="form-group">
                <label for="titel">Titel</label>
                <input type="text" name="title" value="<%= conference.title %>"class="form-control">
            </div>
            <div class="form-group">
                <label for="descriptie">Descriptie</label>
                <input type="text" name="description" value="<%= conference.description %>"class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
    <a href="/conference">Ga terug naar alle conferences</a>
</div>
<%- include ('../partials/footer.ejs'); %>