<%- include ('../partials/header.ejs'); %>

<div class="container">
    <div class="row">
        <% conferences.forEach(function(conference) { %>
        <div class="card m-5">
            <div class="card-header"><%= conference.title %></div>
            <div class="card-body"><%= conference.description %><br>
            <a href="/conference/show/<%= conference.id %>" class="mt-2 btn btn-primary">Show</a><br>
            <a href="/conference/edit/<%= conference.id %>" class="mt-2 btn btn-warning">Update</a>
            <form action="/conference/destroy/<%= conference.id %>" method="POST">
                <button class="mt-2 btn btn-danger">Delete</button>
            </form>
            </div>
        </div>
        <% }) %>
    </div>
    <a href="conference/add-conference">Maak een conference aan!</a>
</div>

<%- include ('../partials/footer.ejs'); %>