<%- include ('../partials/header.ejs'); %>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h6>Conferentie</h6>
            <p><%= conference.title %></p>
        </div>
        <div class="col-6">
            <h6>Descriptie</h6>
            <p><%= conference.description %></p>
        </div>
    </div>
    <a href="/conference">Ga terug naar alle conferences</a>
</div>

<%- include ('../partials/footer.ejs'); %>