<%- include ('../partials/header.ejs'); %>
<div class="container">
    <div class="mt-5 row">
        <% result.forEach(function(conferenceSpeaker) { %>
        <div class="col-4">
            <div class="card">
                <div class="card-header"><%= conferenceSpeaker.Speakers[0].firstName %></div>
                <div class="card-body"><%= conferenceSpeaker.Conferences[0].title %></div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include ('../partials/footer.ejs'); %>