<%- include ('partials/header.ejs'); %>


<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="h1">Error 404!</h1>
            <a href="/"> Terug naar home pagina!</a>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<%- include ('partials/footer.ejs'); %>