<%- include ('../partials/header.ejs'); %>
<div class="container">
    <div class="mt-5 row">
        <% result.forEach(function(companySpeaker) { %>
        <div class="col-4">
            <div class="card">
                <div class="card-header"><%= companySpeaker.firstName %></div>
                <div class="card-body"><%= companySpeaker.Company.name %></div>
                
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include ('../partials/footer.ejs'); %>