<%- include ('../partials/header.ejs'); %>

<div class="container">
    <div class="row">
        <% speakers.forEach(function(speaker) { %>
        <div class="card m-5">
            <div class="card-header"><%= speaker.name %></div>
            <div class="card-body"> <%= speaker.firstName %></div>
        </div>
        <% }) %>
    </div>
</div>

<%- include ('../partials/footer.ejs'); %>